.inicio {
    position: relative;
    display: flex;
    height: 650px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    row-gap: 20px;
    flex-wrap: wrap;
}

.text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-family: sans-serif;
    row-gap: 20px;
}

.fir-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 64px;
    color: #a072f9;
}

.parrafo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
    margin-bottom: 50px;
    font-size: 24px;
}

.button:hover {
    transform: scale(1.1)
} 

.img-banner {
    height: 400px;
    width: 45%;
    animation: traslate;
}

.textDos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 100px 100px 100px;
    font-size: 30px;
    text-align: justify;
}

.fir-text-textDos {
    width: 600px;
    margin: 0%;
    text-align: start;
    color:  #a072f9;
}

.sec-text-textDos {
    margin: 0%;
    width: 600px;
    text-align: start;
    color:  #a072f9;
}

.tre-text-textDos {
    font-size: 22px;
    margin-top: 20px;
}

.parrafo-textDos {
    font-size: 18px;
    line-height: 1.8;
}

.banner-serv {
    background: url(./assets/fondodepantalla.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-banner {
    color: #fff;
    font-size: 3em;
    text-align: center;
    font-family: sans-serif;
}


@media (max-width:991px) {

    .inicio {
        height: auto;
    }

    .text {
        position: relative;
        width: 100%;
        text-align: center;
        height: 100%;
        margin: 0px;
    }

    /* .button {
        width: 100%;
        justify-content: center;
    } */

}

@media (max-width:768px) {

    .inicio {
        height: auto;
        align-items:flex-start;
        text-align: center;
    }

    .text {
        width: 100%;
        text-align: center;
        font-size: 18px;
        height: auto;
    }

    /* .button {
        width: 100%;
        justify-content: center;
    } */
}

@media (max-width:575px) {

    .inicio {
        width: 100%;
        justify-content: center;
        padding: auto;
        height: auto;
        margin: auto;
        align-items:flex-start;
        text-align: center;
    }

    .text {
        width: 100%;
        height: auto;

    }

    .fir-text {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        font-size: 42px;
        color: #a072f9;
      
    }


    /* .button {
        width: 100%;
        justify-content: center;
    } */
}